services:

  pritunl:
    image: jippi/pritunl:${PRITUNL_VERSION}
    container_name: pritunl
    restart: unless-stopped
    privileged: true
    ports:
      - "${PRITUNL_PORT}:80"
      - "${PRITUNL_PORT_SSL}:443"
      - "${PRITUNL_PORT_OPVPN}:${PRITUNL_PORT_OPVPN}/udp"
      - "${PRITUNL_PORT_OPVPN}:${PRITUNL_PORT_OPVPN}/tcp"
      - "${PRITUNL_PORT_WG}:${PRITUNL_PORT_WG}/udp"
    volumes:
      - pritunl_data:/var/lib/pritunl
      - pritunl_db:/var/lib/mongodb
    environment:
      - PRITUNL_DEBUG=${PRITUNL_DEBUG}
      - REVERSE_PROXY=${REVERSE_PROXY}
      - PRITUNL_RUN_MODE=${PRITUNL_RUN_MODE}
      - PRITUNL_BIND_ADDR=${PRITUNL_BIND_ADDR}
      - PRITUNL_PORT=${PRITUNL_PORT}
      - PRITUNL_PORT_SSL=${PRITUNL_PORT_SSL}
      - PRITUNL_HOME=${PRITUNL_HOME}
      - TZ=${TZ}
      - WIREGUARD=${WIREGUARD}
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv6.conf.all.disable_ipv6=0
    devices:
      - /dev/net/tun
    command: >
      sh -c "
        pritunl set app.sso_cache false &&
        pritunl set app.sso_client_cache false &&
        pritunl start"

volumes:
  pritunl_db:
  pritunl_data:
